<?xml version="1.0" encoding="utf-8"?>
<manifest 
    xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.DGSD.TweeterTweeter" 
	android:versionCode="1"
	android:versionName="1.0">
	
	<uses-sdk android:minSdkVersion="11" />

	<application 
	   android:icon="@drawable/icon" 
	   android:label="@string/app_name"
	   android:name="TTApplication"
	   android:theme="@style/Theme.TiledBackground"
	   android:hardwareAccelerated="true">

	    <activity 
	        android:name="MainActivity" 
	        android:label="@string/app_name">
	        <intent-filter>
	            <action android:name="android.intent.action.MAIN" />
	            <category android:name="android.intent.category.LAUNCHER" />
	        </intent-filter>
	    </activity>
	    
	    <activity
	    	android:name="TTActivity"
	    	android:label="@string/tt_activity" />
	    	
	   	<activity
	    	android:name="LoginActivity"
	    	android:label="@string/login_activity" />
	    
	    <activity
		    android:name=".LiveFolders.FavouritesFolder"
		    android:label="Favourites Folder">
		    <intent-filter>
		        <action android:name="android.intent.action.CREATE_LIVE_FOLDER" />
		        <category android:name="android.intent.category.DEFAULT" />
		    </intent-filter>
		</activity>
		
		<activity
	        android:name=".Preferences"
	        android:label="@string/set_preferences" />
	
	    <service android:name=".Services.UpdaterService" />
	    
	    <service android:name=".Services.NewStatusService" />

        <receiver android:name=".Receivers.BootReceiver">
			 <intent-filter>
			    <action android:name="android.intent.action.BOOT_COMPLETED" />
			 </intent-filter>
		</receiver>

        <receiver android:name=".Receivers.NetworkReceiver">
			 <intent-filter>
			    <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
			 </intent-filter>
		</receiver>
		
		
		<provider android:name=".ContentProviders.FavouritesProvider"
             android:authorities="com.DGSD.TweeterTweeter.ContentProvider.Favourites" />
		
		<uses-library android:name="com.google.android.maps" />
		
	</application>
	
	<permission android:name="com.DGSD.TweeterTweeter.SEND_DATA" 
		android:label="@string/send_twitter_data"
		android:description="@string/send_data_description"
		android:protectionLevel="normal" />
	
	<permission android:name="com.DGSD.TweeterTweeter.RECEIVE_DATA"
		android:label="@string/receive_twitter_data"
		android:description="@string/receive_data_description"
		android:protectionLevel="normal" />
		
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="com.DGSD.TweeterTweeter.SEND_DATA" />
	<uses-permission android:name="com.DGSD.TweeterTweeter.RECEIVE_DATA" />
	
</manifest>